.container {
    height: 484px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#chart-credit-card-count {
    width: 100%;
    height: 491px;
}

#chart-age-dist, #chart-client-place, #chart-daily-savings-dist, #chart-member-year-vs-daily-savings {
    width: 100%;
    height: 219px;
}

